#intelij

.idea/
*.iml
*.ipr
*.iws

#Mac OSX
.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

#library cache
cache/
/vendor/

*.png
*.jpg
*.jpeg
example.php